[Unit]
Description=vbox contains tools to manage and control vm in virtualbox
After=local_fs.target remote_fs.target
[Service]
ExecStart=/usr/bin/vbox start
ExecStatus=/usr/bin/vbox status
ExecStop=/usr/bin/vbox stop
ExecReload=/usr/bin/vbox restart
StandardError=journal
RestartSec=1
Restart=on-failure
[Install]
WantedBy=multi-user.target